
body {
	width: 960px;
}
main {
	width: 650px;
}
.header {
	position: relative;

}
.navbar {
	
	float: right;

}
.main {

}
#bio {
	width: 200px;
}
.portfolio {
	float: left;

}
.image {
	position: relative;
	margin: 0;
	
}
h2 {
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

h3{
	position: absolute;
	padding: 5px 60px;
	top: 160px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
}
aside {
	width: 270px;
}